## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
x=s.split()
y=list(x)
print(y)

['Hi', 'there', 'Sam!']

In [3]:
planet = "Earth"
diameter = 12742
sent="The diameter of {0} is {1} kilometers".format(planet,diameter)
print(sent)

The diameter of Earth is 12742 kilometers

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
ele=lst[3][1][2]
ele=str(ele)
element=ele.strip('[').strip(']')
print(element)

'hello'

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [8]:
#Tuple is immutable , we cannot change the values in tuple
#List is mutable , we can change the values in list

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [9]:
def mail(a):
  return a.split('@')[1]
a='user@domain.com'
mail(a)

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def funs(a):
  b=a.split()
  if 'dog' in b:
    return True
a="Do you have a dog?"   
funs(a)

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def funs(a):
  b=a.count('dog')
  return b
a="There are many breeds of dog in this dog store"   
funs(a)

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [15]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [16]:
caught_speeding(86,True)

'Big Ticket'

In [17]:
caught_speeding(76,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [18]:
employee=[1500,1000,400,4500,3456]
for i in employee:
  print(i)
s=sum(employee)
print('Total Salary Expenditure:',s)

1500
1000
400
4500
3456
Total Salary Expenditure: 10856

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [19]:
x={'Empid':5 , 'Empname':'Sai' , 'BasicPay':50000}
y={'DeptName':'CSE' , 'DeptId':111}
x.update(y)
print(x)

{'Empid': 5, 'Empname': 'Sai', 'BasicPay': 50000, 'DeptName': 'CSE', 'DeptId': 111}